# Node.js
node_modules/
.env
.env.local
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# DBs
dump.rdb
*.sqlite

# OS
.DS_Store

# VSCode
.vscode/
